@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

* {box-sizing: border-box;}
body {font-family: 'Montserrat', sans-serif; position: relative;}
p {font-size: 18px; line-height: 30px; font-weight: 400; color: #000;}

.container {max-width: 1400px; width: 100%; margin: 0 auto;}
.wrapper {max-width: 1200px; width: 100%; margin: 0 auto;}
.clr::after {content: ''; clear: both; display: table;}
.fl {float: left;}
.fr {float: right;}

a {text-decoration: none;}
a.btn {display: inline-block; max-width: 180px; width: 100%; height: 60px; line-height: 60px; color: #feffff; font-size: 14px; text-align: center;}
a.btn-orange {background-color: #d75100;}
a.btn-dark {background-color: #1f343d;}
a.btn-blue {background-color: #00a3e6;}

a.active {color: #fff;}

.title-white {font-weight: 700; font-size: 60px; color: #feffff;}
.title-dark {font-weight: 700; font-size: 48px; line-height: 48px; color: #1f343d;}
.title-blue {font-weight: 700; font-size: 30px; line-height: 36px; color: #00a3e6;}
.txt-grey {font-weight: 400; font-size: 30px; color: #a7a7a7;}
.txt-subtitle {font-weight: 300; font-size: 18px; line-height: 30px; color: #feffff;}

.top-shadow {box-shadow: inset 0px 250px 170px -150px #000;}


/***************************************HOME PAGE**/

/***************HEADER***/
header {position: absolute; top: 0; left: 0; height: 90px; width: 100%; z-index: 999;}
header .container {height: 100%; position: relative;}
.logo-wrap {position: absolute; left: 25px; top: 50%; transform: translateY(-50%);}
a.logo {background: url(../images/logo.png) no-repeat center center; width: 197px; height: 41px; display: block;}

header .menu {position: absolute; right: 25px; top: 50%; transform: translateY(-50%);}
header .menu > nav > ul > li {position: relative; display: inline-block; min-width: 90px; height: 37px; line-height: 37px; text-align: center; margin-right: -4px;}
header .menu > nav > ul > li:last-child {margin-right: 0;}
header .menu > nav > ul > li a {display: block; font-weight: 400; font-size: 14px; color: #00a3e6; transition: all .2s ease;}
header .menu > nav > ul > li:hover > a {background: #1f343d; color: #fff;}
ul.submenu {display: none; position: absolute; background: #1f343d; min-width: 175px; left: -42px; top: 36px;}
ul.submenu li {width: 100%; height: 37px;}
header .menu > nav > ul > li:hover ul.submenu {display: block;}
ul.submenu li a:hover {color: #fff;}



/*********HOME TOP**/
.home-top {display: flex; align-items: center; background: url(../images/top-home.jpg) no-repeat center center; width: 100%; height: 700px; background-size: cover;}
.home-top .wrapper {text-align: center; padding-top: 90px;}
.home-top h1 {margin-bottom: 20px;}
.home-top-btns {margin: 50px 0;}
.home-top-btns .btn-dark {margin-right: 20px;}
.checkin-logo {width: 71px; height: 84px; display: inline-block;}
.checkin-logo img {width: 100%;}


/*******CHEER**/
.snow-bg {position: relative; width: 100%; min-height: 550px; background: url(../images/snow-bg.jpg) no-repeat center center; background-size: cover;}
.snow-bg-top {position: absolute; background: url(../images/snow-bg-top.png) repeat-x; width: 100%; height: 165px; top: -77px;}
.cheer-team {background: url(../images/hockey-stick.png) no-repeat bottom right; width: 100%; height: 535px;}
.cheer-team .wrapper {padding-top: 100px;}
.cheer-team .wrapper h2 {margin-bottom: 10px;}
.cheer-team .wrapper h3 {margin-bottom: 30px;}
.cheer-team .wrapper p {max-width: 500px; width: 100%; margin-bottom: 60px;}



/******FOOD DRINKS**/
.food-drinks {padding: 60px 0;}
.food-drinks-box {width: 100%;}
.food-drinks-img,
.food-drinks-menu {max-width: 600px; width: 100%; float: left;}
.food-drinks-img img {width: 100%;}
.food-drinks-box.margbtm {margin-bottom: 50px;}
.food-drinks-menu {padding: 30px 0 30px 50px;}
.food-drinks-menu p {margin: 25px 0 60px; max-width: 500px; width: 100%;}



/*******HAPPY HOURS**/
.happy-hours {width: 100%; height: 520px; background: url(../images/happy-hours-bg.jpg) no-repeat center center; background-size: cover; display: flex; align-items: center;}
.happy-hour-wrap {max-width: 500px; width: 100%; text-align: center; margin: 0 auto;}
.happy-hour-wrap h4 {font-size: 30px; line-height: 48px; font-weight: 700; color: #fff;}
.happy-hour-wrap h2 {font-size: 48px; line-height: 48px; font-weight: 700; color: #fff;}
.happy-hour-wrap p {color: #fff; margin: 60px 0 70px;}



/******FOOTER***/
footer {width: 100%; height: 300px; background: #1f343d;}
.footer-wrap {max-width: 700px; width: 100%; margin: 0 auto; padding-top: 15px;}
.footer-logo {margin: 0 auto; max-width: 166px; width: 100%; height: 74px;}
.footer-logo a {display: block;}
.footer-nav {width: 100%; margin: 25px 0;}
.footer-nav nav {width: 100%;}
.footer-nav nav ul {width: 100%; text-align: center;}
.footer-nav nav ul li {display: inline-block; vertical-align: top; margin-right: 40px;}
.footer-nav nav ul li:last-child {margin-right: 0;}
.footer-nav nav ul li a {transition: all .2s ease; display: block; font-weight: 400; font-size: 14px; line-height: 30px; color: #00a3e6;}
.footer-nav nav ul li a:hover {color: #fff;}
footer .copyright {border-top: 1px solid #58585a; text-align: center;}
footer .copyright p {font-size: 14px; line-height: 24px; color: #9c9c9c; font-weight: 300; margin: 20px 0 15px;}
footer .copyright p.cpyr {font-weight: 300; font-size: 12px;}
a.uhsome {display: inline-block; background: url(../images/uhsome.png) no-repeat center center; width: 54px; height: 16px; vertical-align: sub; margin-left: 5px;}






/*****************************ABOUT****/

/*****ABOUT TOP***/
.about-top {width: 100%; height: 485px; display: flex; align-items: center; background: url(../images/about-top-bg.jpg) no-repeat center center; background-size: cover;}
.about-top .wrapper {padding: 0 50px;}
.about-top h1 {margin-bottom: 10px;}
.about-top p {max-width: 575px; width: 100%;}
.cheer-team.cheer-about { display: flex; align-items: center; height: 350px;}
.cheer-team.cheer-about .wrapper {padding-left: 50px;}



/*****ABOUT MENUS DRINKS**/
.about-menu-drinks {width: 100%; padding: 100px 0 130px;}
.about-menus-box {max-width: 600px; width: 100%; height: 640px; position: relative;}
.about-menus-box img {width: 100%;}
.about-menus-box .about-box-img img {width: 100%;}
.menus-blue-cover {position: absolute; bottom: 258px; width: 100%; height: 190px; background: rgba(0, 163, 230, .7); padding: 35px 50px;}
.menus-blue-cover p {font-weight: 400; font-size: 30px; line-height: 36px; color: #fff;}
.about-box-txt {width: 100%; padding: 45px;}
.about-menus-box.btm-box {margin-bottom: 110px;}
.about-menu-drinks-btns {text-align: center;}
.about-menu-drinks-btns a.btn-dark {margin-right: 20px;}






/***********************************MENU PAGE**/

/*******MENU TOP***/
.menu-top {width: 100%; height: 485px; background: url(../images/menu-bg.jpg) no-repeat center center; background-size: cover;}
.menu-top .wrapper {display: flex; align-items: center; height: 100%; padding-top: 100px;}
.menu-top .menu-top-text {max-width: 520px; width: 100%; margin-right: 130px; padding-left: 50px;}
.menu-top .menu-top-text h1 {margin-bottom: 10px;}


/*******MENU CONTENT***/
.menu-content {width: 100%; padding: 85px 0 185px;}
.menu-starters {width: 100%; padding: 0 50px;}
.menu-starters h2 {margin-bottom: 60px;}
.starters-list {width: 100%;}
.starters-list .starters-list-box {max-width: 510px; width: 100%;}
.starters-list-box ul {width: 100%;}
.starters-list-box ul li {width: 100%; margin-bottom: 30px;}
.starters-list-box ul li .starters-title {width: 100%; margin-bottom: 10px;}
.starters-list-box ul li .starters-title h3 {max-width: 75%; line-height: 36px;}
.wings-img {width: 100%; margin-bottom: 85px;}
.wings-img img {width: 100%;}

.wings-salads-menu {width: 100%;}
.wings-salads-menu .wings-salads-box {max-width: 600px; width: 100%; float: left;}
.wings-salads-box .shelf-wings {padding: 0 50px; margin-bottom: 50px;}
.wings-salads-box .shelf-wings h2 {margin-bottom: 10px;}
.shelf-wings .house-style {width: 100%; margin-top: 30px; margin-bottom: 10px;}
.shelf-wings .house-style .house-title {width: 50%;}
.shelf-wings .house-style .house-title h3 {line-height: 36px;}
.shelf-wings .house-style .house-price {width: 50%; text-align: right;}
.shelf-wings .house-style .house-price p {line-height: 36px;}

.wings-salads-box .salads {width: 100%; padding: 0 50px;}
.wings-salads-box .salads h2 {margin-bottom: 40px;}
.salads .salads-additions {width: 100%; margin-bottom: 40px;}
p.sal-add-p {width: 100%;}
p.sal-add-p span.title-blue {float: left;}
p.sal-add-p span.txt-grey {float: right;}

ul.salads-list {width: 100%;}
ul.salads-list li {width: 100%; margin-bottom: 30px;}
ul.salads-list li p.sal-add-p {margin-bottom: 5px;}






/***********************************SPECIALS***/
.specials-top {width: 100%; height: 485px; background: url(../images/specials-bg.jpg) no-repeat center center; background-size: cover;}
.specials-top .wrapper {padding: 0 50px; display: flex; align-items: center; height: 100%;}
.specials-headline {max-width: 600px; width: 100%;}
.specials-headline h1 {margin-bottom: 10px;}
.specials {width: 100%;}
.specials .wrapper {padding: 65px 50px 95px;}
.specials ul {width: 100%;}
.specials ul li {width: 100%; margin-bottom: 55px;}
.specials ul li:last-child {margin-bottom: 0;}
.specials ul li .line-bar {margin-top: 65px; max-width: 750px; width: 100%; border-top: 1px solid #00a3e6;}
.specials ul li .line-bar .line-bar-inner {width: 50%; height: 7px; background: #00a3e6;}
.specials ul li p.title-blue.marg {margin-bottom: 15px;}






/**************************************CONTACT***/

.contact-top {width: 100%; height: 280px; background: url(../images/contact-bg.jpg) no-repeat center center; background-size: cover;}
.contact-top .wrapper {padding: 0 50px; position: relative; height: 100%;}
.contact-headline {display: flex; align-items: center; position: absolute; bottom: 60px;}
.contact-headline a.btn {line-height: 20px; padding: 9px 20px;}
.contact-headline h1 {margin-right: 250px;}

.contact {width: 100%; padding: 35px 0 60px; background: #00a3e6;}
.contact-form {margin: 0 auto; max-width: 800px; width: 100%;}
.contact-form p {color: #000; max-width: 480px; width: 100%; text-align: center; margin: 0 auto; margin-bottom: 30px;}
.contact-form form {width: 100%;}
.contact-form form ul {width: 100%;}
.contact-form form ul li {width: 100%; margin-bottom: 40px;}
.contact-form form ul li:last-child {margin-bottom: 0;}
.contact-form form ul li input {height: 70px; padding: 0 30px; font-size: 24px; border: none; box-shadow: 0 0 5px #333;}
.contact-form form ul li input::placeholder {font-weight: 300; font-size: 24px; color: #8f999e;}
.contact-form form ul li input[type="text"] {width: 100%;}
.contact-form form ul li input[type="number"],
.contact-form form ul li input[type="email"] {display: inline-block; max-width: 380px; width: 100%;}
.contact-form form ul li input[type="email"] {margin-right: 35px;}
input[type='number'] {-moz-appearance: textfield;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;}
.contact-form form ul li textarea {width: 100%; padding: 30px; font-size: 20px; border: none; box-shadow: 0 0 5px #333; resize: none; height: 160px;}
.contact-form form ul li span.mandatory {font-weight: 400; font-size: 12px; line-height: 30px; color: #fff;}
.contact-form form ul li:nth-child(4) {margin-bottom: 10px;}
.contact-form form ul li button[type="submit"] {background-color: #d75100; display: block; max-width: 180px; width: 100%; margin: 0 auto;
height: 60px; line-height: 60px; color: #feffff; font-size: 14px; text-align: center; border: none; outline: none; cursor: pointer;}

.map {width: 100%; height: 330px;}
.map .map-wrap {max-width: 3000px; width: 100%; margin: 0 auto;}
.map .map-wrap iframe {width: 100%;}

.contact-add {width: 100%; padding: 40px 0 120px;}
.cont-add-wrap {max-width: 800px; width: 100%; margin: 0 auto;}
.cont-add-wrap ul {width: 100%;}
.cont-add-wrap ul li {width: 100%; margin-bottom: 20px; text-align: center;}
.cont-add-wrap ul li:last-child {margin-bottom: 0;}
.cont-add-wrap ul li p {color: #000; margin-bottom: 5px;}
.cont-add-wrap ul li p span.txt-grey {font-weight: 700;}
